
APP_NAME=Laravel
APP_ENV=production
APP_KEY=base64:WgWYRQoiBM74OtwPKw0sOTurSVhqhdtL6+YC15yPUyM=
APP_DEBUG=false
APP_URL=https://delivery-management-production.up.railway.app

APP_LOCALE=en
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=en_US

APP_MAINTENANCE_DRIVER=file
BCRYPT_ROUNDS=12

LOG_CHANNEL=stack
LOG_STACK=single
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=error

DB_CONNECTION=mysql
DB_HOST=<RAILWAY_DB_HOST>
DB_PORT=<RAILWAY_DB_PORT>
DB_DATABASE=<RAILWAY_DB_NAME>
DB_USERNAME=<RAILWAY_DB_USERNAME>
DB_PASSWORD=<RAILWAY_DB_PASSWORD>

SESSION_DRIVER=database
SESSION_LIFETIME=120
SESSION_ENCRYPT=false
SESSION_PATH=/
SESSION_DOMAIN=null

SANCTUM_STATEFUL_DOMAINS=delivery-management-production.up.railway.app

BROADCAST_CONNECTION=log
FILESYSTEM_DISK=local
QUEUE_CONNECTION=database
CACHE_STORE=database

REDIS_CLIENT=phpredis
REDIS_HOST=<RAILWAY_REDIS_HOST>
REDIS_PASSWORD=<RAILWAY_REDIS_PASSWORD>
REDIS_PORT=<RAILWAY_REDIS_PORT>

MAIL_MAILER=log
MAIL_SCHEME=null
MAIL_HOST=127.0.0.1
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_FROM_ADDRESS=hello@example.com
MAIL_FROM_NAME="${APP_NAME}"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

REVERB_APP_ID=655628
REVERB_APP_KEY=dry1n5ymcmdper7xjmss
REVERB_APP_SECRET=se2hojeybofhfgwxdrkm
REVERB_HOST=localhost
REVERB_PORT=8080
REVERB_SCHEME=http

VITE_APP_NAME="${APP_NAME}"
VITE_REVERB_APP_KEY="${REVERB_APP_KEY}"
VITE_REVERB_HOST="${REVERB_HOST}"
VITE_REVERB_PORT="${REVERB_PORT}"
VITE_REVERB_SCHEME="${REVERB_SCHEME}"
